<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specific car's detail</title>
  </head>
  <body>
    <h1>{{ car }}</h1>
    <ul>
      <li><strong>Make:</strong> {{ car.make }}</li>
      <li><strong>Model:</strong> {{ car.model }}</li>
      <li><strong>Year:</strong> {{ car.year }}</li>
      <li><strong>Color:</strong> {{ car.color }}</li>
    </ul>
  </body>
</html>
